<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title th:remove="all">Novo usuário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
</head>
<body class="bg-light">
<main class="container1">
    <div class="child">
        <form action="#"
              th:action="@{/login}"
              th:object="${usuario}"
              method="post">

            <div class="card shadow-sm">
                <div class="card-header container-title bg-dark">
                    <img class="m-3" th:src="@{/assets/image/logo.svg}" th:width="72" th:height="57"/>
                    <p class="text-center title text-white">Login</p>
                </div>
                <div class="card-body m-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-at icon"></i></span>
                        <div class="form-floating flex-grow-1">
                            <input type="email" th:field="*{nome}" class="form-control" id="email" required
                                   placeholder="E-mail"/>
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fas fa-key icon"></i></span>
                        <div class="form-floating flex-grow-1">
                            <input type="password" th:field="*{senha}" class="form-control" id="senha" required
                                   placeholder="Senha"/>
                            <label for="senha">Senha</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-check mb-4">
                            <input type="checkbox" class="form-check-input" onclick="changeVisibility()"
                                   id="senha-check-box"/>
                            <label class="form-check-label" for="senha-check-box">Mostrar senha</label>
                        </div>
                        <p class="mb-4"><a href="">Esqueceu sua senha?</a></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <button type="button" onclick="voltar()" class="btn btn-secondary">Voltar</button>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="form-text text-center m-3">© 2018-2021 - BonitoFlix</p>
                </div>
            </div>
        </form>
    </div>
</main>

<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>