<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title th:remove="all">Novo usuário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main>
    <form action="#"
          th:action="@{/usuario/add}"
          th:object="${usuario}"
          method="post">

        <input type="text" required th:field="*{nome}" id="nome" placeholder="Nome"/>
        <input type="email" required th:field="*{email}" id="email" placeholder="E-mail"/>
        <input type="password" required th:field="*{senha}" id="password" placeholder="Senha"/>
        <button type="submit">Casdastrar e logar</button>
    </form>
</main>
</body>
</html>