<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title th:remove="all">Página inicial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
</head>
<body class="bg-light" onload="showModalOnLoad()">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand d-flex justify-content-between align-content-center">
                <a href="#"><img th:src="@{/assets/image/logo.svg}"
                                 class="d-inline-block align-text-top mx-2" alt="" th:width="50" th:height="38"></a>
                <span class="nav-title mx-2">BonitoFlix</span>
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/loginform"><i class="fas fa-sign-in-alt mx-1"></i>Entrar</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" href="/signup"><i class="fas fa-user mx-1"></i>Cadastrar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">

</main>
<!--<div id="myModal" class="modal fade" tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header bg-dark">-->
<!--                <h5 class="modal-title text-white">Teste</h5>-->
<!--                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>Teste</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>-->
<!--                <button type="button" class="btn btn-primary">Salvar</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>